
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Ubuntu:wght@400;700&display=swap');

/* font-family: 'Great Vibes', cursive;
font-family: 'Ubuntu', sans-serif; */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif; 
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(67,67,67,1) 100%);
}

nav h1{
    margin:  15px 20px;
    font-size: 2.2rem;
    color: #DAA520;
    font-family: 'Great Vibes', cursive
}

nav .box-medias{
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
}


nav .box-medias ul{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}





.box-menu{
    width: 100%;
    font-size: 2.2rem;
    display: none;
    flex-direction: column;
}

button {
    background-image: url("../img/menu.png");
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: none;

}

.box-menu-show{
    display: flex;
}

.box-menu li{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(67,67,67,1) 100%);
    color: #fff;
    }

.box-nav{
    display: flex;
    font-size: 1.5rem;
    margin-left: 65px;
    justify-content: flex-end;
    align-items: flex-end;

}
.box-nav li{
    margin-right: 20px;
    font-size: 1.7rem;
    font-family: 'Ubuntu', sans-serif; 
}
.box-nav li:hover{
    color: #DAA520; 
}

nav .box-medias .box-nav li a{
    color: #000;
}



.box-medias-icons li{
    margin-left: 5px;
}


.box-medias-icons li img{
   width: 35px;
   height: 35px;
   margin-right: 15px;
}
.box-medias-icons li img:hover{
    transform: translateY(-10px);
}





.barberfoto{
    background-image: url('../img/barber.jpg');
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.servicos{
    width: 100%;
    background-color: #2C2828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos h2{
    margin: 10px 0;
    font-size: 2.2rem;
    color: #DAA520;
    font-family: 'Ubuntu', sans-serif; 

}

.servicos .grid-servicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.servicos .grid-servicos .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 1px solid #000;
    border-radius:  20px;
    background-color: #FCFBFB;
    margin-right: 10px;
    margin-bottom: 20px;
}
.servicos .grid-servicos .card img{
    width: 120px;
    height: 120px;
}
.servicos .grid-servicos .card p{
    font-size: 1.5rem;
    margin-top: 5px;
}


.galeria{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('../img/barber.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
   
  
   
}
.galeria h2 {
    margin-top: 10px;
    font-size: 2.2rem;
    color: #DAA520;
    font-family: 'Ubuntu', sans-serif; 

}

.galeria .galeria-grid{
    display: flex;
    justify-content: center;
    align-items: center ;
    opacity: 1;
}
.galeria .galeria-grid .galeria-item{
   margin: 30px;

}
.galeria .galeria-grid .galeria-item  a img{
    width: 90%;
    height: 70%;
    margin-right: 30px;
    border: 2px solid #000;
    border-radius: 10px;
}

.galeria .galeria-grid .galeria-item img:hover{
    transform: translateY(-10px);
}
.quemsou{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #434343;
}

.quemsou .quemsou-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

}

.quemsou .quemsou-div img{
    width: 35%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 20px;

}
.quemsou .quemsou-div .dizeres{
    width: 60%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quemsou .quemsou-div .dizeres h2{
    font-size: 2.5rem;
    color: #DAA520;
    font-family: 'Ubuntu', sans-serif; 
    margin-bottom: 20px;
}
.quemsou .quemsou-div .dizeres P{
    font-size: 1.2rem;
    color: #DAA520;
    font-family: 'Ubuntu', sans-serif; 
    text-align: center;
    color: #fff;
    width: 60%;
    margin-bottom: 20px;
}


.agendeButton{
    background-color:green;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 10px;
}
footer{
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(67,67,67,1) 100%); 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

footer h3{
    font-size: 2rem;
    margin-top: 5px;
    color: #DAA520;
    text-align: center;
}


footer ul{
    display: flex;
    margin: 10px;
}

footer ul li{
    margin-right: 20px;
    font-size: 1.7rem;
    font-family: 'Ubuntu', sans-serif; 
    display: flex;
}

footer ul li img{
   width: 35px;
   height: 35px;
   margin-right: 15px;
}
footer li img:hover{
    transform: translateY(-10px);
}

footer p{
    color: #fff;
}




.goldColor{
    margin-top: 10000px;
    color: #DAA520;
    font-size: 1.6rem;
}


.move-to-left{animation:moveToleft 3s linear}


@keyframes fadeout{from{opacity:0}to{opacity:1}}
@keyframes move{from{opacity:0;transform:translateX(-35%)}to{opacity:1;transform:translateX(0)}}@keyframes moveToRigth{from{opacity:0;transform:translateX(-800%)}to{opacity:1;transform:translateX(0)}}@keyframes moveToleft{from{opacity:0;transform:translateX(200%)}to{opacity:1;transform:translateX(0)}}@media only screen and (max-width:440px){header h1{color:#fff;margin-top:16px;font-size:26px;font-family:Roboto,sans-serif;text-transform:uppercase}}




