
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Ubuntu:wght@400;700&display=swap');

/* font-family: 'Great Vibes', cursive;
font-family: 'Ubuntu', sans-serif; */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif; 
}

section{
    margin: 0;
}
a{
    text-decoration: none;
    cursor: pointer
}


nav{

    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(67,67,67,1) 100%);
}

nav h1{
    margin:  15px 16px;
    font-size: 2.2rem;
    color: #DAA520;
    font-family: 'Great Vibes', cursive
}

nav .box-medias{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}


nav .box-medias ul{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.menu{
    width: 40px;
    height: 40px;
    display: none;
}

.box-nav{
    font-size: 1.5rem;
    margin-right: 65px;
}
.box-nav li{
    margin-right: 20px;
    font-size: 1.7rem;
    font-family: 'Ubuntu', sans-serif; 
}
.box-nav li:hover{
    color: #DAA520; 
}

.box-medias-icons li{
    margin-left: 5px;
}


.box-medias-icons li img{
   width: 35px;
   height: 35px;
   margin-right: 15px;
}
.box-medias-icons li img:hover{
    transform: translateY(-10px);
}





.barberfoto{
    background-image: url('../img/barber.jpg');
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.servicos{
    width: 100%;
    background-color: #2C2828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos h2{
    margin: 10px 0;
    font-size: 2.2rem;
    color: #DAA520;
    font-family: 'Ubuntu', sans-serif; 

}

.servicos .grid-servicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.servicos .grid-servicos .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 1px solid #000;
    border-radius:  20px;
    background-color: #FCFBFB;
    margin-right: 10px;
    margin-bottom: 20px;
}
.servicos .grid-servicos .card img{
    width: 120px;
    height: 120px;
}
.servicos .grid-servicos .card p{
    font-size: 1.5rem;
    margin-top: 5px;
}


.galeria{
    width: 100%;
    background-color: #070707;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.galeria h2 {
    margin-top: 10px;
    font-size: 2.2rem;
    color: #DAA520;
    font-family: 'Ubuntu', sans-serif; 
}

.galeria .galeria-grid{
    display: flex;
    justify-content: center;
    align-items: center ;
}
.galeria .galeria-grid .galeria-item{
   margin: 30px;
}
.galeria .galeria-grid .galeria-item img{
    width: 100%;
    height: 100%;
    margin-right: 30px;
}

.quemsou{
    width: 100%;
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: #434343;
    padding: 60px;
}

.quemsou .quemsou-div{
    display: flex;
    margin-top: 40px;
}

.quemsou .quemsou-div img{
    width: 50%;
    height: 290px;

}
.quemsou .quemsou-div .dizeres{
    width: 50%;
    margin-top: 40px;
    display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.quemsou .quemsou-div .dizeres h2{
    font-size: 2.2rem;
    color: #DAA520;
    font-family: 'Ubuntu', sans-serif; 
}
.quemsou .quemsou-div .dizeres P{
    font-size: 1.2rem;
    color: #DAA520;
    font-family: 'Ubuntu', sans-serif; 
    text-align: justify;
    width: 40%;
}



@media (min-width: 220px) and (max-width: 740px) { 
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav h1{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Great Vibes', cursive
    }

    .menu{
        display: flex;
        color: #fff;
        background-color: #fff;
        border-radius: 10px;
        margin-right: 15px;
    }
   nav .box-medias {
       display: none;
   }

   .barberfoto{
    width: 100%;
    height: 55vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}
    
.servicos{
    width: 100%;
    background-color: #2C2828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos h2{
    margin: 10px 0;
    font-size: 2.0rem;
    color: #DAA520;

}

.servicos .grid-servicos .card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 340px;
    border: 2px solid #000;
    border-radius:  20px;
    background-color: #FCFBFB;
    margin: 10px;
}
.servicos .grid-servicos .card img{
    width: 100px;
    height: 100px;
}
.servicos .grid-servicos .card p{
    font-size: 1.5rem;
    margin-top: 5px;
}

.gaeria{
    display: flex;
    align-items: center;
    justify-content: center;
}

.galeria h2 {
    margin-top: 10px;
    font-size: 2.2rem;
    color: #DAA520;
    font-family: 'Ubuntu', sans-serif; 
}

.galeria .galeria-grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;
}
.galeria .galeria-grid .galeria-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.galeria .galeria-grid .galeria-item img{
    width: 90%;
    height: 90%;
}



 }


@media (min-width: 741px) and (max-width: 820px){
    
    nav h1{
        font-size: 1.9rem;
        margin-left: 18px;
    }

   nav .box-medias .box-nav{
        display: none;
    }

    .barberfoto{
        width: 100%;
        height: 55vh;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .servicos .grid-servicos .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 340px;
        border: 1px solid #000;
        border-radius:  20px;
        background-color: #FCFBFB;
        margin-bottom: 20px;
       
    }
    .servicos .grid-servicos .card img{
        width: 120px;
        height: 120px;
    }
    .servicos .grid-servicos .card p{
        font-size: 1.5rem;
        margin-top: 5px;
    }
    

    
.gaeria{
    display: flex;
    align-items: center;
    justify-content: center;
}

.galeria h2 {
    margin-top: 10px;
    font-size: 2.2rem;
    color: #DAA520;
    font-family: 'Ubuntu', sans-serif; 
}

.galeria .galeria-grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;
}
.galeria .galeria-grid .galeria-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.galeria .galeria-grid .galeria-item img{
    width: 90%;
    height: 90%;
}
    
}
